<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <img [src]="artista.images | sinfoto:2" class="img-thumbnail rounded-circle">
    </div>
    <div class="col-9 mt-5">
      <h1>{{ artista.name }}</h1>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col">
            <button
              type="button"
              class="btn btn-outline-primary"
              [routerLink]="['/search']"  
            >Regresar</button>
          </div>
          <div class="col">
            <a
              class="btn btn-outline-success"
              [href]="artista.external_urls?.spotify"
              target="_blank"
            >Ver en Spotify</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <table class="table table-dark mt-5">
        <thead>
          <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Album</th>
            <th>Popularidad</th>
            <th>Escuchar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of toptracks">
            <td>
                <img [src]="track.album.images | sinfoto:3" class="w-75">
            </td>
            <td>
              {{ track.name }}
            </td>
            <td>
              {{ track.album.name }}
            </td>
            <td>
              {{ track.popularity }}%
            </td>
            <td>
                <iframe [src]="track.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>