<div class="container mt5">
  <div class="row">
    <div class="col-3">

      <label for="termino">Buscar artista</label>
      <input 
        type="text"
        placeholder="Busque artista..."
        class="form-control"
        (keyup)="buscarArtista()"
        [(ngModel)]="termino"
      >
      
    </div>
    <div class="col-9" *ngIf="termino.length > 1">
      <h1>{{ termino | uppercase }}</h1>
      <hr>

      <div class="row">
        <div 
          class="col-3 text-center mb1 puntero"
          *ngFor="let artista of _spotifyService.artistas"
          [routerLink]="[ '/artist', artista.id ]">
            <img [src]="artista.images | sinfoto:2" class="img-thumbnail">
            <p>{{ artista.name }}</p>
        </div>
      </div>
    </div>
  </div>
  
</div>